html, body {
    width: 100%;
    height: 100%;
}

body {
    height: auto;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    position: relative;
}